body {
	background-image: url(file:///C:/Users/John%20Michael/Documents/GitHub/repo/jpg/wavy.jpg);
	background-repeat: repeat-y;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

h1 {
  display:block;
  color: black;
  padding: 10;
	margin-bottom: 50;
	overflow: hidden;
	text-align: left;
	font-family: 'Rubik', 'Segoe UI', 'San Francisco', 'Calibri', Arial, sans-serif;
}

h2 {
  display: block;
  color: black;
  padding: 5;
	overflow: hidden;
	text-align: left;
	font-family: 'Rubik', 'Segoe UI', 'San Francisco', 'Calibri', Arial, sans-serif;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100;
    border-style: inset;
    border-width: 5px;
}

.wrapper {
  text-align: center;
}

.button2 {
    background-image: url(file:///C:/Users/John%20Michael/Documents/GitHub/repo/jpg/greyabstract.jpg);
    border: none;
    color: white;
    padding: 10;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: 24px;
    margin-bottom: 80;
    margin-left: left;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 2px #999;
    justify-content: center;
    font-family: 'Rubik', 'Segoe UI', 'San Francisco', 'Calibri', Arial, sans-serif;
		transition-duration: 0.4s;
		cursor: pointer;
}

.button1 {
  background-color: rgba(0, 0, 0, .75); /* Black */
	border: none;
	color: white;
	padding: 15;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 24px;
	margin-bottom: 80;
	margin-left: right;
	cursor: pointer;
	border-radius: 5px;
	justify-content: center;
	transition-duration: 0.4s;
	cursor: pointer;
}

.button5 {
	background-color: rgba(0, 0, 0, .75); /* Black */
	border: none;
	color: white;
	padding: 15;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 24px;
	margin-bottom: 80;
	margin-left: right;
	cursor: pointer;
	border-radius: 5px;
	justify-content: center;
	transition-duration: 0.4s;
	cursor: pointer;
}

.button {width:50%;}

.button:hover {background-color: rgba(0, 100, 255, .75)}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
li {
  display: inline;
}
